// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top_img{
  background-image: image-url("top_img.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 92vh;
}

.shop_message{
  position: absolute;
  top: 70vh;
  left: 0;
  width: 100%;
  display: block;

}

.shop_message h1{
  text-align: center;
}

.title_area{
  text-align: center;
}

.each_title{
  display: inline-block;
  background: linear-gradient(transparent 60%, orange 50%);
}

.text_area{
  position: relative;
}

.text_area p{
  position: absolute;
  top: 50%;
  -webkit-transform : translateY(-50%);
  transform : translateY(-50%);
}
